.container {
    padding-left: 20px;
    padding-right: 20px;
    
}

.manierisme {
    font-family: var(--font-titre);
    color: var(--marron);
}

.exposition-temporaire {
    font-family: var(--font-commentaire);
    font-size: var(--commentaires);
    margin-left: 50%;
}

body {
    background-color: var(--beige-clair);
}

.noscroll, .noscroll body {
    overflow: hidden;
  }

.figcaption__texte {
    font-family: var(--font-commentaire);
    text-align: center;
}

.article__img-manierisme{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }