.container {
    padding-left: 20px;
    padding-right: 20px;
    
}

.manierisme {
    font-family: var(--font-titre);
    color: var(--marron);
}

.exposition-temporaire {
    font-family: var(--font-commentaire);
    font-size: var(--commentaires);
    margin-left: 50%;
}

body {
    background-color: var(--beige-clair);
}