.ecce-homo__titre-principal {
    font-family: var(--font-titre);
    color: var(--noir);
    text-align: center;
}

.ecce-homo__texte {
    font-family: var(--font-texte);
}

.ecce-homo__titre {
    font-family: var(--font-titre);
    margin-left: 10px;
}