
.mouvement__titre-principal {
    font-family: var(--font-titre);
    color: var(--noir);
    text-align: center;
}

.mouvement__titre {
    font-family: var(--font-titre);
    margin-left: 10px;
}

.mouvement__texte {
    font-family: var(--font-texte);
    margin-top: 10px;
}

.mouvement__citation {
      font-family: var(--font-commentaire);
      font-size: 32px;
}

.mouvement__texte-galerie {
      font-family: var(--font-texte);
}

.frise__texte {
    text-align: center;
    margin: auto;
    font-family: var(--font-titre);
}

.frise {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 60px;
    background: var(--blanc);
}

.frise:after {
      content: "";
      position: absolute;
      top: 20px;
      bottom: 20px;
      left: 50%;
      width: 8px;
      background: var(--marron);
      border-radius: 3px;
      z-index: 1;
}
  
.frise article {
      position: relative;
      width: calc( 20% - 23px);
      padding: 15px;
      padding-right: 35px;
}
  
.frise article + article {
      margin-top: 20px;
}
  
.frise article:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: calc( 100% + 25px);
      background: var(--blanc);
      width: 24px;
      height: 24px;
      border: 6px var(--marron) solid;
      border-radius: 50%;
      z-index: 2;
}
  
.frise article:after {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
}
  
  
.frise article:nth-child(even) {
      margin-left: calc( 50% + 48px );
}
  
.frise article:nth-child(even):before {
      left: auto;
      right: calc( 100% + 26px );
}
  
.frise article:nth-child(even):after {
      left: auto;
      right: 100%;
      border-left: none;
}

.expo__section-bouton {
      text-align: center ;
      margin-bottom: 30px;
}

.expo__bouton-clique {
      font-family: var(--font-titre);
      color: var(--marron);
}

.expo__bouton {
      background: none;
      border: none;
}

.expo__bouton-texte {
      font-family: var(--font-texte);
}