.lamentation__titre-principal {
    font-family: var(--font-titre);
    color: var(--noir);
    text-align: center;
}

.lamentation__titre {
    font-family: var(--font-titre);
    margin-left: 10px;
}

.lamentation__texte {
    font-family: var(--font-texte);
}